@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.speechBubbleLeft::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  border-style: solid;
  border-width: 10px 20px 10px 0;
  border-color: transparent #000000 transparent transparent;
  transform: translate(-100%, -50%) skew(0, -45deg);
  transform-origin: right;
}

.speechBubbleLeft::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  border-style: solid;
  border-width: 7.8px 15.5px 7.8px 0;
  border-color: transparent #ffffff transparent transparent;
  transform: translate(-100%, -50%) skew(0, -45deg);
  transform-origin: right;
}

.speechBubbleRight::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  border-style: solid;
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent #000000;
  transform: translate(100%, -50%) skew(0, 45deg);
  transform-origin: left;
}

.speechBubbleRight::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  border-style: solid;
  border-width: 7.8px 0 7.8px 15.5px;
  border-color: transparent transparent transparent #ffffff;
  transform: translate(100%, -50%) skew(0, 45deg);
  transform-origin: left;
}
